<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Trivia quiz</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
  <script src="/js/utils.js"></script>
</head>

<body>
  <div id="header">
    <div id="menu" class="input-group">
      <select class="form-select" id="gamemode" name="gamemode">
        <option value="0">Practice</option>
        <option value="10">Multiplayer</option>
      </select>
      <select class="form-select" id="difficulty" name="difficulty">
        <option value="mixed">Mixed</option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
      </select>
      <select class="form-select multiplayer" id="num_questions" name="num_questions">
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
      <button id="nightmode" class="btn btn-outline-secondary" onclick="$('body').toggleClass('nightmode')">
        <i class="bi bi-moon"></i>
      </button>
    </div>
  </div>
  <div id="nickname-div" class="help" role="alert" style="display: none; ">
    <div class="input-group" style="width: auto; margin-top: 2px;">
      <input id="nickname" class="form-control" type="text" placeholder="name" style="width: 250px">
      <button class="btn btn-primary" name="Copy" onclick="setNickname()"><i class="bi bi-check-square"></i></button>
    </div>
  </div>

  <div id="main">
    <div id="question"></div>
    <ul id="answers">
    </ul>
    <div id="info">
      <span id="category">Category: <i></i></span>
      <span id="current-diff">Difficulty: <i></i></span>
    </div>
  </div>
  <div id="room-info" class="multiplayer" style="display: none; text-align: center;">
    <div id="game-header">
      <div id="round"></div>
      <div>
        <button id="start" class="btn btn-primary" name="Start" onclick="startRoom()">
          Start <i class="bi bi-flag"></i></button>
      </div>
      <div id="time-left"></div>
    </div>
    <hr>
    <div id="players-info"></div>
  </div>
  <div id="status" role="alert" title="Klik to remove" onclick="$('#status').empty();">

    <script src="/js/main.js"></script>
</body>