@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
:root {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: calc(16px + .2vw);
  --color-success: #6aaa64;
  --color-failure: #aa6a64;
  --color-tone-1: #1a1a1b;
  --color-tone-2: #787c7e;
  --color-tone-3: #878a8c;
  --color-tone-4: #d3d6da;
  --color-tone-5: #edeff1;
  --color-tone-6: #f6f7f8;
  --color-tone-7: #ffffff;
  --factor: 1;
}

.nightmode {
  --color-success: #538d4e;
  --color-failure: #8d534e;
  --color-tone-1: #d7dadc;
  --color-tone-2: #818384;
  --color-tone-3: #565758;
  --color-tone-4: #3a3a3c;
  --color-tone-5: #272729;
  --color-tone-6: #1a1a1b;
  --color-tone-7: #121213;
}

* {
  transition: color 0.5s ease-out, background-color 0.5s ease-out;
}

body {
  background-color: var(--color-tone-7);
  margin: 0;
  padding: 0;
  color: var(--color-tone-1);
  padding: 0 10vw;
}

#header, #main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu {
  width: auto;
}
table {
  width: 100%;
}
#main {
  margin-top: 5vh;
}

#question {
  font-size: larger;
  margin-bottom: 2vh;
}
#answers {
  list-style: none;
  padding-left: 0;
}
.answer {
  padding: 1vw;
  margin: 1vh 0;
  background: var(--color-tone-6);
  min-width: 50vw;
  border: 1px solid var(--color-tone-2);
  cursor: pointer;
}
#info {
  font-size: smaller;
  margin: 2vh 0;
  width: 100%;
}
#category {
  float: left;
}
#current-diff {
  float: right;
}

#status {
  position: fixed;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  z-index: 30000;
}

#game-header {
    display: inline-grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-items: stretch;
}

#game-header div {
  place-self: center;
}



.form-select,
.form-control,
.btn,
.input-group-text,
input {
  color: var(--color-tone-1);
  background-color: var(--color-tone-6);
  border-color: var(--color-tone-4);
}
