@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
:root {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  --green: #6aaa64;
  --darkendGreen: #538d4e;
  --yellow: #c9b458;
  --darkendYellow: #b59f3b;
  --lightGray: #d8d8d8;
  --gray: #86888a;
  --darkGray: #939598;
  --white: #fff;
  --black: #212121;
  --orange: #f5793a;
  --blue: #85c0f9;
  --color-tone-1: #1a1a1b;
  --color-tone-2: #787c7e;
  --color-tone-3: #878a8c;
  --color-tone-4: #d3d6da;
  --color-tone-5: #edeff1;
  --color-tone-6: #f6f7f8;
  --color-tone-7: #ffffff;
  --color-correct: var(--green);
  --tile-text-color: var(--color-tone-7);
  --color-background: var(--color-tone-7);
  --color-background-t: #ffffffaa;
  --factor: 1;
}

.nightmode {
  --blue: #5590c9;
  --color-tone-1: #d7dadc;
  --color-tone-2: #818384;
  --color-tone-3: #565758;
  --color-tone-4: #3a3a3c;
  --color-tone-5: #272729;
  --color-tone-6: #1a1a1b;
  --color-tone-7: #121213;
  --color-correct: var(--darkendGreen);
  --tile-text-color: var(--color-tone-1);
  --color-background: var(--color-tone-7);
  --color-background-t: #121213aa;
}
* {
  transition: color 0.5s ease-out, background-color 0.5s ease-out;
}

body {
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
  color: var(--color-tone-1);
}

.header, main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
